.DS_Store
*.elc

/.scratch-log
/.scratch-log-prev
/ac-comphist.dat
/.mc-lists.el
/.edbi-ds-history
/bookmarks
/.bm-repository
/projectile-bookmarks.eld

/auto-save-list/
/eshell/
/undohist/
/url/
/var/pcache/
/vendor/elpa/
